{% extends './base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <h2 class="text-center">Help</h2>
        <div class="row mt-5">
            <div class="col-6">
                <h4>Shipping information</h4>
                <br>
                <p>
                    During the checkout process the customer is required to fill out the information for delivery
                    including the home address, country and zipcode.

                </p>
                <p>We offer free shipping for every placed order.</p>
                <p class="fw-bold">Standard delivery</p>
                <ul>
                    <li><p>Items arrive at the home address in 5 to 7 working days.</p></li>
                    <li><p>We do not deliver on weekends.</p></li>
                </ul>


            </div>
            <div class="col-6">
                <h4>Returns</h4>
                <br>
                <p>
                    You can return orders purchased on SneakerApp.
                </p>
                <p>You can still return products after 30 days as long as they are unworn.</p>
                <p>You can also return and change products that are damaged or faulty.</p>
              <p>All you need is the proof of purchase.</p>


            </div>
        </div>
    </div>


{% endblock %}