{% extends "./base.html" %}
{% load static %}
{% block content %}

    <div class="container">
    <div class="row">
        <div class="col-6">
            <img src="{{MEDIA_URL}}{{product.image.url}}" class="card-img-top" alt="...">
        </div>
        <div class="col-6">
            <hr>
            <h4 class="fw-bold"> {{product.name}}</h4>
            <h5 class="pt-3"> {{product.description}}</h5>
            <h2 class="pt-3">${{ product.price }}</h2>
            <br>
<hr>
            <div>
                <label class="pt-3" for="shoeSize" onChange="getShoeSize()" style="font-size: large"> Select your shoe size: </label>
                        <select id="shoeSize">
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                        </select>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <br>
{#         {% for message in messages %}#}
{#                    <p class="text-center" id="messages">{{message}} </p>#}
{#                    {% endfor%}#}
        {% if request.user.is_authenticated %}
            <button type="button"
                    data-product={{product.id}}
                     data-action="add"
                     class=" mt-3 mb-0 btn btn-danger add-btn update-cart w-100 ">Add to cart</button>
            {% else %}
            <p style="color: red">*Please login to purchase this item!</p>
            {% endif %}
        </div>
    </div>

    </div>
{% endblock %}

